{% extends 'accounts/master.html' %}
{% load widget_tweaks %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
                 {{message}}
        </div>
    {% endfor %}
        <div class="mb-3">
            <label for="" class="text-info">username</label>
            <input type="text" name="username" class="form-control">
            <div class="text-info">{{input.errors}}</div>
        </div>
        <div class="mb-3">
            <label for="" class="text-info">password</label>
            <input type="password" name="password" class="form-control">
            <div class="text-info">{{input.errors}}</div>
        </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock content %}
